workflows/yt-summary-per-user.json
{
  "active": true,
  "connections": {
    "Code - Build Ollama Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request - Ollama Chat",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Filter New": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Format Telegram Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Telegram - Send Summary",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Mark Processed No Transcript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Mark Processed Summarized": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Normalize List": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Filter New",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Parse Ollama Response": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Format Telegram Message",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Prepare No Transcript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Telegram - No Transcript",
            "type": "main"
          }
        ]
      ]
    },
    "Code - Trim Transcript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Build Ollama Request",
            "type": "main"
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request - Playlist Items",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request - Ollama Chat": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Parse Ollama Response",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request - Playlist Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Normalize List",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request - Supadata Transcript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch - Transcript Result",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request - Ollama Unload",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "HTTP Request - Supadata Transcript",
            "type": "main"
          }
        ]
      ]
    },
    "Switch - Transcript Result": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Trim Transcript",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Telegram - Transcript Retry",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Code - Prepare No Transcript",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram - No Transcript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Mark Processed No Transcript",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram - Send Summary": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code - Mark Processed Summarized",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram - Transcript Retry": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-19T00:00:00.000Z",
  "description": null,
  "id": "ytSummaryPerUser01",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "yt-summary-per-user",
  "nodes": [
    {
      "id": "a0000001-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "parameters": {},
      "position": [
        -144,
        3920
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1
    },
    {
      "id": "a0000001-0000-0000-0000-000000000002",
      "maxTries": 3,
      "name": "HTTP Request - Playlist Items",
      "parameters": {
        "options": {},
        "url": "=https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=50&playlistId={{$('Execute Workflow Trigger').first().json.playlistId}}&key={{$env.YOUTUBE_API_KEY}}"
      },
      "position": [
        80,
        3920
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "a0000001-0000-0000-0000-000000000004",
      "name": "Code - Normalize List",
      "parameters": {
        "jsCode": "// Normalize YouTube Data API v3 playlistItems response into flat items: { videoId, title, publishedAt, url }\nconst data = $input.first().json;\nconst items = data.items || [];\n\nreturn items.map(it => ({\n  json: {\n    videoId: it.snippet.resourceId.videoId,\n    title: it.snippet.title,\n    publishedAt: it.snippet.publishedAt,\n    url: `https://youtu.be/${it.snippet.resourceId.videoId}`\n  }\n}));"
      },
      "position": [
        528,
        3920
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000005",
      "name": "Code - Filter New",
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst STATE_PATH = '/workflows/state/processed.json';\nlet processed = {};\ntry { processed = JSON.parse(fs.readFileSync(STATE_PATH, 'utf8')); } catch (e) {}\nreturn $input.all().filter(i => !(i.json.videoId in processed));"
      },
      "position": [
        736,
        3920
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000006",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        960,
        3920
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "a0000001-0000-0000-0000-000000000007",
      "name": "HTTP Request - Supadata Transcript",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.SUPADATA_API_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{$json.videoId}}"
            },
            {
              "name": "text",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "sendQuery": true,
        "url": "https://api.supadata.ai/v1/youtube/transcript"
      },
      "position": [
        1184,
        3936
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000008",
      "name": "Switch - Transcript Result",
      "parameters": {
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "noTranscript"
        },
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-has-transcript-status",
                    "leftValue": "={{ $json.statusCode ?? $json.error?.status ?? 0 }}",
                    "operator": {
                      "operation": "equals",
                      "type": "number"
                    },
                    "rightValue": 200
                  },
                  {
                    "id": "cond-has-transcript-content",
                    "leftValue": "={{ $json.body?.content?.length ?? 0 }}",
                    "operator": {
                      "operation": "gt",
                      "type": "number"
                    },
                    "rightValue": 0
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "outputKey": "hasTranscript",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "or",
                "conditions": [
                  {
                    "id": "cond-retry-5xx",
                    "leftValue": "={{ $json.statusCode ?? $json.error?.status ?? 0 }}",
                    "operator": {
                      "operation": "gte",
                      "type": "number"
                    },
                    "rightValue": 500
                  },
                  {
                    "id": "cond-retry-429",
                    "leftValue": "={{ $json.statusCode ?? $json.error?.status ?? 0 }}",
                    "operator": {
                      "operation": "equals",
                      "type": "number"
                    },
                    "rightValue": 429
                  },
                  {
                    "id": "cond-retry-network",
                    "leftValue": "={{ $json.statusCode ?? $json.error?.status ?? 0 }}",
                    "operator": {
                      "operation": "equals",
                      "type": "number"
                    },
                    "rightValue": 0
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "outputKey": "retryable",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        1376,
        3920
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000009",
      "name": "Code - Trim Transcript",
      "parameters": {
        "jsCode": "// Trim transcript to ≤ 40000 chars before sending to Ollama (heuristic for num_ctx=16k tokens)\n// Also carry forward videoId, title, url, lang from the loop item and transcript response.\nconst loopItem = $('Loop Over Items').first().json;\nconst transcriptBody = $input.first().json.body;\n\nconst rawContent = transcriptBody.content || '';\nconst trimmedContent = rawContent.slice(0, 40000);\nconst lang = transcriptBody.lang || null;\n\nreturn [{\n  json: {\n    videoId: loopItem.videoId,\n    title: loopItem.title,\n    url: loopItem.url,\n    lang: lang,\n    trimmedContent: trimmedContent\n  }\n}];"
      },
      "position": [
        1616,
        3712
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000010",
      "name": "Code - Build Ollama Request",
      "parameters": {
        "jsCode": "// Build Ollama /api/chat payload with JSON Schema enforcement.\n// LangChain Ollama node не умеет передавать format=schema, поэтому шлём через HTTP Request напрямую.\nconst item = $input.first().json;\n\nconst systemPrompt = `Ты ассистент, который делает подробный пересказ видео на YouTube по его субтитрам.\nВсегда отвечай на русском языке.\nВерни ТОЛЬКО валидный JSON со структурой:\n{\"main_idea\": \"строка\", \"summary\": [\"пункт 1\", \"пункт 2\", \"пункт 3\", ...]}\n\nЖёсткие требования к содержанию:\n- В массиве summary ОБЯЗАТЕЛЬНО от 6 до 15 элементов. Меньше 6 — НЕДОПУСТИМО.\n- Каждый элемент — законченное предложение длиной 100-200 символов с конкретикой: названия инструментов и сервисов, шаги, цифры, цены, технологии, имена.\n- Покрой все ключевые этапы видео последовательно: что делает автор, какими инструментами пользуется, какие нюансы и советы даёт, какой итог.\n- Никаких вступительных фраз вроде \"В видео автор...\". Никакого markdown, никаких \\`\\`\\`json. Только сырой JSON.`;\n\nconst userPrompt = `Название: ${item.title}\\n\\nСубтитры:\\n${item.trimmedContent}\\n\\nНапоминание: верни JSON с массивом summary из 6-15 подробных пунктов (по 100-200 символов), с конкретными названиями инструментов, шагами и цифрами.`;\n\nconst payload = {\n  model: $env.OLLAMA_MODEL,\n  stream: false,\n  keep_alive: $env.OLLAMA_KEEP_ALIVE_ACTIVE,\n  format: {\n    type: 'object',\n    properties: {\n      main_idea: { type: 'string' },\n      summary: {\n        type: 'array',\n        items: { type: 'string' },\n        minItems: 6,\n        maxItems: 15\n      }\n    },\n    required: ['main_idea', 'summary']\n  },\n  options: {\n    temperature: 0.3,\n    num_ctx: 32768,\n    num_predict: 4096,\n    repeat_penalty: 1.05\n  },\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ]\n};\n\nreturn [{\n  json: {\n    videoId: item.videoId,\n    title: item.title,\n    url: item.url,\n    lang: item.lang,\n    payload: payload\n  }\n}];"
      },
      "position": [
        1840,
        3712
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000011",
      "name": "HTTP Request - Ollama Chat",
      "parameters": {
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "method": "POST",
        "options": {
          "timeout": 600000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://ollama:11434/api/chat"
      },
      "position": [
        1952,
        3712
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000012",
      "name": "Code - Parse Ollama Response",
      "parameters": {
        "jsCode": "// Parse Ollama /api/chat response. format=schema гарантирует валидный JSON, но на всякий случай — фоллбек.\nconst prevItem = $('Code - Build Ollama Request').first().json;\nconst inJson = $input.first().json;\nconst rawResponse = (inJson.message && inJson.message.content) || inJson.response || '';\n\nlet main_idea, summary;\ntry {\n  const parsed = JSON.parse(rawResponse);\n  main_idea = parsed.main_idea || '';\n  summary = Array.isArray(parsed.summary) ? parsed.summary : [];\n} catch (e) {\n  const lines = rawResponse.split('\\n').map(l => l.trim()).filter(Boolean);\n  summary = lines.slice(0, 10);\n  main_idea = lines[0] ? lines[0].split('.')[0] + '.' : 'Не удалось распарсить ответ.';\n}\n\nreturn [{\n  json: {\n    videoId: prevItem.videoId,\n    title: prevItem.title,\n    url: prevItem.url,\n    lang: prevItem.lang,\n    main_idea: main_idea,\n    summary: summary\n  }\n}];"
      },
      "position": [
        2064,
        3712
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000013",
      "name": "Code - Format Telegram Message",
      "parameters": {
        "jsCode": "// HTML-escape title, main_idea, and each summary bullet, then compose Telegram message.\nfunction escapeHtml(str) {\n  if (typeof str !== 'string') str = String(str || '');\n  return str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nconst inJson = $input.first().json;\nconst { videoId, title, url, main_idea, summary } = inJson;\n\nconst escapedTitle = escapeHtml(title);\nconst escapedMainIdea = escapeHtml(main_idea);\nconst bulletLines = Array.isArray(summary)\n  ? summary.map(s => `• ${escapeHtml(s)}`).join('\\n')\n  : '';\n\nconst text = `<b>${escapedTitle}</b>\\n<a href=\"https://youtu.be/${videoId}\">Смотреть на YouTube</a>\\n\\n📌 <b>Главная идея</b>\\n${escapedMainIdea}\\n\\n📝 <b>Обзор</b>\\n${bulletLines}`;\n\nreturn [{\n  json: {\n    videoId: videoId,\n    title: title,\n    url: url,\n    lang: inJson.lang,\n    text: text\n  }\n}];"
      },
      "position": [
        2288,
        3712
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "a8gRroZ2u2iTGniA",
          "name": "Telegram account"
        }
      },
      "id": "a0000001-0000-0000-0000-000000000014",
      "name": "Telegram - Send Summary",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{$('Execute Workflow Trigger').first().json.chatId}}",
        "text": "={{$json.text}}"
      },
      "position": [
        2496,
        3712
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "72e5d610-6a5c-40c7-8068-e6c84697f628"
    },
    {
      "id": "a0000001-0000-0000-0000-000000000015",
      "name": "Code - Mark Processed Summarized",
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst STATE_DIR = '/workflows/state';\nconst STATE_PATH = STATE_DIR + '/processed.json';\nlet processed = {};\ntry { processed = JSON.parse(fs.readFileSync(STATE_PATH, 'utf8')); } catch (e) {}\nconst ref = $('Code - Format Telegram Message').item.json;\nprocessed[ref.videoId] = ref.title;\nfs.mkdirSync(STATE_DIR, { recursive: true });\nconst tmp = STATE_PATH + '.tmp';\nfs.writeFileSync(tmp, JSON.stringify(processed, null, 2));\nfs.renameSync(tmp, STATE_PATH);\nreturn $input.all();"
      },
      "position": [
        2720,
        3712
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a0000001-0000-0000-0000-000000000016",
      "name": "Code - Prepare No Transcript",
      "parameters": {
        "jsCode": "// Carry forward videoId, title, url, lang from the loop item for the 'no transcript' path.\nconst loopItem = $('Loop Over Items').first().json;\nreturn [{\n  json: {\n    videoId: loopItem.videoId,\n    title: loopItem.title,\n    url: loopItem.url,\n    lang: null\n  }\n}];"
      },
      "position": [
        1696,
        4240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "a8gRroZ2u2iTGniA",
          "name": "Telegram account"
        }
      },
      "id": "a0000001-0000-0000-0000-000000000017",
      "name": "Telegram - No Transcript",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{$('Execute Workflow Trigger').first().json.chatId}}",
        "text": "=Субтитров нет: <a href=\"https://youtu.be/{{$json.videoId}}\">{{$json.title}}</a>"
      },
      "position": [
        1904,
        4240
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "bb90ae23-8a25-40b4-b5e9-92fe4684c3a8"
    },
    {
      "id": "a0000001-0000-0000-0000-000000000018",
      "name": "Code - Mark Processed No Transcript",
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst STATE_DIR = '/workflows/state';\nconst STATE_PATH = STATE_DIR + '/processed.json';\nlet processed = {};\ntry { processed = JSON.parse(fs.readFileSync(STATE_PATH, 'utf8')); } catch (e) {}\nconst ref = $('Code - Prepare No Transcript').item.json;\nprocessed[ref.videoId] = ref.title;\nfs.mkdirSync(STATE_DIR, { recursive: true });\nconst tmp = STATE_PATH + '.tmp';\nfs.writeFileSync(tmp, JSON.stringify(processed, null, 2));\nfs.renameSync(tmp, STATE_PATH);\nreturn $input.all();"
      },
      "position": [
        2080,
        4240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "a8gRroZ2u2iTGniA",
          "name": "Telegram account"
        }
      },
      "id": "a0000001-0000-0000-0000-000000000020",
      "name": "Telegram - Transcript Retry",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        },
        "chatId": "={{$('Execute Workflow Trigger').first().json.chatId}}",
        "text": "=⚠️ Не удалось получить субтитры (Supadata вернул {{$json.statusCode}}): <a href=\"https://youtu.be/{{$('Loop Over Items').item.json.videoId}}\">{{$('Loop Over Items').item.json.title}}</a>. Попробую в следующем цикле."
      },
      "position": [
        1632,
        3936
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "c4e0f8b2-9f1a-4e3c-ae2b-5d7e1234abcd"
    },
    {
      "id": "a0000001-0000-0000-0000-000000000019",
      "name": "HTTP Request - Ollama Unload",
      "parameters": {
        "jsonBody": "={\"model\": \"{{$env.OLLAMA_MODEL}}\", \"messages\": [], \"keep_alive\": 0}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://ollama:11434/api/chat"
      },
      "position": [
        1184,
        3712
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "b70e7334-04de-40bd-bfac-279519dc8049",
      "name": "Wait",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        1808,
        3936
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "e16d725c-c667-4959-ae01-8c137e1dd29c"
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "m918mX0pajm1MQO5",
    "executionOrder": "v1",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "tags": []
}
